.RegisterAjutor {
  background-image: url('https://t4.ftcdn.net/jpg/02/52/46/25/360_F_252462576_koy7njo9iYx6gUcM26IZcDUs9fMKIKJs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
